@media(max-width:768px){
    .trans-right{
        text-align: left;
        margin-left:30px;
        margin-top: 20px;
    }
.create-page h3 {
    font-family: 'Bakbak One';
    font-size: 25px;
}
.create-page .css-1p3oumu-MuiGrid-root>.MuiGrid-item {
    padding-top: 10px;
}
.create-page .css-1p3oumu-MuiGrid-root>.MuiGrid-item input{
    padding: 15px;
}
.create-page .create-btn {
    font-size: 12px;
}
.import-wallet .create-btn{
    font-size: 15px;
}
.import-wallet h3 {
    font-size: 25px;
}
.import-wallet p {
    font-size: 14px;
}
.currency-side h5 {
    font-size: 25px;
}
.css-19e4b61-MuiGrid-root>.MuiGrid-item {
    padding-top: 0!important;
}
.modal-box {
width: 100%;
}
.receive-wallet h3 {
font-size: 20px;
}
.receive-wallet h5 {
font-size: 10px;
}
.receive-wallet h4 {
font-size: 13px;
margin: 10px 0;
}
.recive-copy button {
margin: 0px 10px;
font-size: 10px;
padding: 5px 28px;
}
.modal-box {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin: 20px;
width: 200px!important;
}
.create-btn {
font-size: 12px!important   ;
}
.receive-wallet p{
font-size: 14px;
}
.form-p{
font-size: 14px!important ;
}

}




@media (min-width:600px) {

.full-tabs button{
    min-width: 50%!important;
    max-width: 50%!important;
}
}